# byte-compiled / optimized
__pycache__/
*.py[cod]

# build and distribution directories
build/
dist/
example/build/
example/dist/
*.eggs/
*.egg-info/

# test and coverage data
.pytest_cache/
.coverage
coverage_report/

# virtual environment
venv/

# example
example/foobar/dsl/__init__.py
example/foobar/dsl/bar/
example/foobar/dsl/foo/

# editor files
.idea/
.vscode/
