# byte-compiled / optimized
__pycache__/
*.py[cod]

# build and distribution directories
build/
dist/
example/build/
example/dist/
*.eggs/
*.egg-info/

# test and coverage data
.pytest_cache/
.coverage
coverage_report/

# virtual environment
venv/

# example
samples/foobar/foobar/dsl/__init__.py
samples/foobar/foobar/dsl/bar/
samples/foobar/foobar/dsl/foo/

# editor files
.idea/
.vscode/
