args==0.1.0
attrs==17.3.0
certifi==2017.11.5
chardet==3.0.4
clint==0.5.1
colorama==0.3.9
coverage==4.4.2
idna==2.6
pkginfo==1.4.1
pluggy==0.6.0
py==1.5.2
pytest==3.3.1
pytest-cov==2.5.1
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
tqdm==4.19.4
twine==1.9.1
urllib3==1.22
